window-scroll(window-scroll-top)
form.enter-as-tab.on-focus(ng-show="model.book.reference", logic-form="bookrecord", id="bookrecordForm", name="bookrecordForm", novalidate, ng-submit="model.submitForm()", ng-model-options="{ debounce: 0 }")
    .row
        .col-xs-12
            span.bookrecordStore-buttons.pull-right
                button.btn.btn-default(tabindex="10000",ng-disabled="model.bookrecordLogicForm.isPristine()", type="button", ng-click="model.clearForm()") Limpar
                button.btn.btn-default(tabindex="10000",ng-show="model.book._id", ng-disabled="model.bookrecordLogicForm.isPristine()", type="button", ng-click="model.resetForm()") Desfazer
                button.btn.btn-default(tabindex="10000",ng-show="model.book._id", type="button", ng-click="model.newForm()") Novo
                button.btn.btn-default(leave-focus, tabindex="9998",ng-disabled="model.bookrecordLogicForm.isInvalid() || model.bookrecordLogicForm.processing()", type="submit", id="submit", ng-click="model.save()") Gravar


    .row.title
        .col-xs-12.col-md-1.reference
            span Refª.
            br
            //| #&nbsp;{{model.book.reference}}
            | #&nbsp;{{("00000" + model.book.reference).slice(-5)}}
        .col-xs-12.col-md-11
            label(for="title") {{::model.labels.title}}
                timed-action(disabled="{{model.params.reference !== 'new'}}", event="keydown", field="title", action="model.showSimilarTitles", ms-timeout="500")
                input.font-major(type="text", tabindex="100", name="title", ng-model="model.book.title", autofocus, required, aria-label="{{::model.placeholders.title}}", placeholder="{{::model.placeholders.title}}")
                div.tool-tip.bottom(ng-show="bookrecordForm.title.$dirty && bookrecordForm.title.$error.required") {{::model.valMessages.title.required}}
                input.subtitle(type="text", tabindex="200", name="subtitle", ng-model="model.book.subtitle", aria-label="{{::model.placeholders.subtitle}}", placeholder="{{::model.placeholders.subtitle}}")
    .row.caixa
        .col-xs-12.col-lg-5
            .row
                .col-xs-12
                    label(for="authors") {{::model.labels.authors}}
                        span(angular-typeaheadjs,
                        angty-onactive="model.autocompleteEvents.onactive",
                        angty-onbeforeopen="model.autocompleteEvents.onbeforeopen",
                        angty-onchange="model.autocompleteEvents.onchange",
                        angty-options="{{model.config.author.options}}", angty-ttoptions="{{model.config.author.ttoptions}}")
                            input.typeahead(type="text", tabindex="210" name="authors", ng-model="model.book.author", aria-label="{{::model.placeholders.authors}}", placeholder="{{::model.placeholders.authors}}")

                .col-xs-12(ng-show="model.book.authors.length>1")
                    label.label-items(ng-show="model.book.authors.length>1")
                        span.item(ng-repeat="item in model.book.authors track by $index")
                            i.fa.fa-times(ng-click="model.removeItem('authors', item)")
                            | {{item}}
        .col-xs-12.col-lg-7
            .row
                .col-xs-12.col-lg-4(ng-show="model.book.translators.length>1")
                    label(for="translators") {{::model.labels.translators}}
                        angular-typeaheadjs(
                        angty-onchange="model.autocompleteEvents.onchange",
                        angty-onactive="model.autocompleteEvents.onactive",
                        angty-onbeforeopen="model.autocompleteEvents.onbeforeopen",
                        angty-options="{{model.config.translator.options}}", angty-ttoptions="{{model.config.translator.ttoptions}}")
                            input.typeahead(type="text", tabindex="300", name="translators", ng-model="model.book.translator", aria-label="{{::model.placeholders.translators}}", placeholder="{{::model.placeholders.translators}}")
                .col-xs-12.col-lg-9(ng-hide="model.book.translators.length>1")
                    label(for="translators") {{::model.labels.translators}}
                        angular-typeaheadjs(
                        angty-onchange="model.autocompleteEvents.onchange",
                        angty-onactive="model.autocompleteEvents.onactive",
                        angty-onbeforeopen="model.autocompleteEvents.onbeforeopen",
                        angty-options="{{model.config.translator.options}}", angty-ttoptions="{{model.config.translator.ttoptions}}")
                            input.typeahead(type="text", tabindex="300", name="translators", ng-model="model.book.translator", aria-label="{{::model.placeholders.translators}}", placeholder="{{::model.placeholders.translators}}")
                .col-xs-12.col-lg-5(ng-show="model.book.translators.length>1")
                    label.label-items
                        span.item(ng-repeat="item in model.book.translators track by $index")
                            i.fa.fa-times(ng-click="model.removeItem('translators', item)")
                            | {{item}}
                .col-xs-12.col-lg-3
                    label(for="editionTranslatedLanguage") {{::model.labels.editionTranslatedLanguage}}
                        angular-typeaheadjs(
                        angty-onchange="model.autocompleteEvents.onchange",
                        angty-onactive="model.autocompleteEvents.onactive",
                        angty-onbeforeopen="model.autocompleteEvents.onbeforeopen",
                        angty-options="{{model.config.language.options}}", angty-ttoptions="{{model.config.language.ttoptions}}")
                            input.typeahead(type="text", tabindex="310", name="editionTranslatedLanguage", ng-model="model.book.editionTranslatedLanguage", aria-label="{{::model.placeholders.editionTranslatedLanguage}}", placeholder="{{::model.placeholders.editionTranslatedLanguage}}")
    .row.caixa
        .col-md-12
            label(for="subject") {{::model.labels.subject}}
                input(type="text", tabindex="320", name="subject", ng-model="model.book.subject", aria-label="{{::model.placeholders.subject}}", placeholder="{{::model.placeholders.subject}}")
    .row.caixa
        .col-md-12
            .row
                label.headercaixa Edição
            .row
                .col-xs-12.col-lg-4
                    label(for="editionPublisher") {{::model.labels.editionPublisher}}
                        angular-typeaheadjs(
                            angty-onchange="model.autocompleteEvents.onchange",
                            angty-onactive="model.autocompleteEvents.onactive",
                            angty-onbeforeopen="model.autocompleteEvents.onbeforeopen",
                            angty-options="{{model.config.publisher.options}}", angty-ttoptions="{{model.config.publisher.ttoptions}}")
                            input.typeahead(type="text", tabindex="400", name="editionPublisher", ng-model="model.book.editionPublisher", aria-label="{{::model.placeholders.editionPublisher}}", placeholder="{{::model.placeholders.editionPublisher}}")
                .col-xs-12.col-lg-2
                    label(for="editionLanguage") {{::model.labels.editionLanguage}}
                        angular-typeaheadjs(
                            angty-onchange="model.autocompleteEvents.onchange",
                            angty-onactive="model.autocompleteEvents.onactive",
                            angty-onbeforeopen="model.autocompleteEvents.onbeforeopen",
                            angty-options="{{model.config.language.options}}", angty-ttoptions="{{model.config.language.ttoptions}}")
                            input.typeahead(type="text", tabindex="500", name="editionLanguage", ng-model="model.book.editionLanguage", aria-label="{{::model.placeholders.editionLanguage}}", placeholder="{{::model.placeholders.editionLanguage}}")
                .col-xs-12.col-lg-2
                    label(for="editionCountry") {{::model.labels.editionCountry}}
                        angular-typeaheadjs(
                            angty-onchange="model.autocompleteEvents.onchange",
                            angty-onactive="model.autocompleteEvents.onactive",
                            angty-onbeforeopen="model.autocompleteEvents.onbeforeopen",
                            angty-options="{{model.config.country.options}}", angty-ttoptions="{{model.config.country.ttoptions}}")
                            input.typeahead(type="text", tabindex="600", name="editionCountry", ng-model="model.book.editionCountry", aria-label="{{::model.placeholders.editionCountry}}", placeholder="{{::model.placeholders.editionCountry}}")
                .col-xs-12.col-lg-2
                    label(for="editionYear") {{::model.labels.editionYear}}
                        input(type="number", tabindex="700", min="1500", max="{{model.anoActual}}", maxlength="4", name="editionYear", ng-model="model.book.editionYear", aria-label="{{::model.placeholders.editionYear}}", placeholder="{{::model.placeholders.editionYear}}")
                        div.tool-tip.bottom(ng-show="bookrecordForm.editionYear.$dirty && bookrecordForm.editionYear.$invalid") {{::model.valMessages.editionYear.invalid}}

                .col-xs-12.col-lg-2
                    label(for="editionNumber") {{::model.labels.editionNumber}}
                        input(type="number", tabindex="800", min="1", name="editionNumber", ng-model="model.book.editionNumber", aria-label="{{::model.placeholders.editionNumber}}", placeholder="{{::model.placeholders.editionNumber}}")
                        div.tool-tip.bottom(ng-show="bookrecordForm.editionNumber.$dirty && bookrecordForm.editionNumber.$invalid") {{::model.valMessages.editionNumber.invalid}}

            .row
                .col-xs-12.col-lg-1
                    label(for="pagesNum") {{::model.labels.pagesNum}}
                        input(type="text", tabindex="900", name="pagesNum", ng-model="model.book.pagesNum", aria-label="{{::model.placeholders.pagesNum}}", placeholder="{{::model.placeholders.pagesNum}}")
                .col-xs-12.col-lg-4
                    label.inline.width79per(for="nameCollection") {{::model.labels.nameCollection}}
                        input(type="text", tabindex="1000", name="nameCollection", ng-model="model.book.nameCollection", aria-label="{{::model.placeholders.nameCollection}}", placeholder="{{::model.placeholders.nameCollection}}")
                    //.col-sm-2
                    label.inline.width19per(for="numCollection") {{::model.labels.numCollection}}
                        input(type="text", tabindex="1100", name="numCollection", ng-model="model.book.numCollection", aria-label="{{::model.placeholders.numCollection}}", placeholder="{{::model.placeholders.numCollection}}")
                .col-xs-12.col-lg-2
                    label(for="editionISBN") {{::model.labels.editionISBN}}
                        input(isbn type="text", tabindex="1200", name="editionISBN", ng-model="model.book.editionISBN", aria-label="{{::model.placeholders.editionISBN}}", placeholder="{{::model.placeholders.editionISBN}}")
                        div.tool-tip.bottom(ng-show="bookrecordForm.editionISBN.$invalid") {{::model.valMessages.editionISBN.invalid}}

                .col-xs-12.col-lg-2
                    label(for="editionLegalDeposit") {{::model.labels.editionLegalDeposit}}
                        input(type="text", tabindex="1300", name="editionLegalDeposit", ng-model="model.book.editionLegalDeposit", aria-label="{{::model.placeholders.editionLegalDeposit}}", placeholder="{{::model.placeholders.editionLegalDeposit}}")
                .col-xs-12.col-lg-1
                    label(for="numVolume") {{::model.labels.numVolume}}
                        input(type="text", tabindex="1400", name="numVolume", ng-model="model.book.numVolume", aria-label="{{::model.placeholders.numVolume}}", placeholder="{{::model.placeholders.numVolume}}")
                .col-xs-12.col-lg-2
                    label(for="circulation") {{::model.labels.circulation}}
                        input(type="number", tabindex="1500", min="1", name="circulation", ng-model="model.book.circulation", aria-label="{{::model.placeholders.circulation}}", placeholder="{{::model.placeholders.circulation}}")
                        div.tool-tip.bottom(ng-show="bookrecordForm.circulation.$dirty && bookrecordForm.circulation.$invalid") {{::model.valMessages.circulation.invalid}}
    .row.caixa
        .col-xs-12
            .row
                label.headercaixa Versão Original
            .row
                .col-xs-12.col-lg-3
                    label(for="originalTitle") {{::model.labels.originalTitle}}
                        input(type="text", tabindex="2100", name="originalTitle", ng-model="model.book.originalTitle", aria-label="{{::model.placeholders.originalTitle}}", placeholder="{{::model.placeholders.originalTitle}}")

                .col-xs-12.col-lg-3
                    label(for="originalPublisher") {{::model.labels.originalPublisher}}
                        input.typeahead(type="text", tabindex="2200", name="originalPublisher", ng-model="model.book.originalPublisher", aria-label="{{::model.placeholders.originalPublisher}}", placeholder="{{::model.placeholders.originalPublisher}}")
                .col-xs-12.col-lg-2
                    label(for="originalLanguage") {{::model.labels.originalLanguage}}
                        angular-typeaheadjs(
                            angty-onchange="model.autocompleteEvents.onchange",
                            angty-onactive="model.autocompleteEvents.onactive",
                            angty-onbeforeopen="model.autocompleteEvents.onbeforeopen",
                            angty-options="{{model.config.language.options}}", angty-ttoptions="{{model.config.language.ttoptions}}")
                            input.typeahead(type="text", tabindex="2300", name="originalLanguage", ng-model="model.book.originalLanguage", aria-label="{{::model.placeholders.originalLanguage}}", placeholder="{{::model.placeholders.originalLanguage}}")
                .col-xs-12.col-lg-2
                    label(for="originalCountryEdition") {{::model.labels.originalCountryEdition}}
                        angular-typeaheadjs(
                            angty-onchange="model.autocompleteEvents.onchange",
                            angty-onactive="model.autocompleteEvents.onactive",
                            angty-onbeforeopen="model.autocompleteEvents.onbeforeopen",
                            angty-options="{{model.config.country.options}}", angty-ttoptions="{{model.config.country.ttoptions}}")
                            input.typeahead(type="text", tabindex="2400", name="originalCountryEdition", ng-model="model.book.originalCountryEdition", aria-label="{{::model.placeholders.originalCountryEdition}}", placeholder="{{::model.placeholders.originalCountryEdition}}")
                .col-xs-12.col-lg-2
                    label(for="originalYearFirstEdition") {{::model.labels.originalYearFirstEdition}}
                        input(type="number", tabindex="2500", min="1500", max="{{model.anoActual}}", maxlength="4", name="originalYearFirstEdition", ng-model="model.book.originalYearFirstEdition", aria-label="{{::model.placeholders.originalYearFirstEdition}}", placeholder="{{::model.placeholders.originalYearFirstEdition}}")
                        div.tool-tip.bottom(ng-show="bookrecordForm.originalYearFirstEdition.$dirty && bookrecordForm.originalYearFirstEdition.$invalid") {{::model.valMessages.originalYearFirstEdition.invalid}}

    .row.caixa
        .col-xs-12.col-lg-6
            .row
                .col-xs-12.col-lg-6
                    .row
                        .col-xs-12
                            label(for="categories") {{::model.labels.categories}}
                                angular-typeaheadjs(
                                    angty-onchange="model.autocompleteEvents.onchange",
                                    angty-onactive="model.autocompleteEvents.onactive",
                                    angty-onbeforeopen="model.autocompleteEvents.onbeforeopen",
                                    angty-options="{{model.config.category.options}}", angty-ttoptions="{{model.config.category.ttoptions}}")
                                    input.typeahead(type="text", tabindex="2600", name="categories", ng-model="model.book.category", aria-label="{{::model.placeholders.categories}}", placeholder="{{::model.placeholders.categories}}")
                    .row
                        .col-xs-12
                            label.label-items
                                span.item(ng-repeat="item in model.book.categories track by $index")
                                    i.fa.fa-times(ng-click="model.removeItem('categories', item)")
                                    | {{item}}
                .col-xs-12.col-lg-6
                    .row
                        .col-xs-12
                            label(for="keywords") {{::model.labels.keywords}}
                                angular-typeaheadjs(
                                    angty-onchange="model.autocompleteEvents.onchange",
                                    angty-onactive="model.autocompleteEvents.onactive",
                                    angty-onbeforeopen="model.autocompleteEvents.onbeforeopen",
                                    angty-options="{{model.config.keyword.options}}", angty-ttoptions="{{model.config.keyword.ttoptions}}")
                                    input.typeahead(type="text", tabindex="2700", name="keywords", ng-model="model.book.keyword", aria-label="{{::model.placeholders.keywords}}", placeholder="{{::model.placeholders.keywords}}")
                    .row
                        .col-xs-12
                            label.label-items
                                span.item(ng-repeat="item in model.book.keywords track by $index")
                                    i.fa.fa-times(ng-click="model.removeItem('keywords', item)")
                                    | {{item}}
        .col-xs-12.col-lg-6
            .row
                .col-xs-12
                    label(for="obsInternal") {{::model.labels.obsInternal}}
                        textarea(rows="3", name="obsInternal", tabindex="2800", ng-model="model.book.obsInternal", aria-label="{{::model.placeholders.obsInternal}}",
                        ng-attr-placeholder="{{::model.placeholders.obsInternal}}")
                        //use ng-attr.placeholder... because of error in IE https://github.com/angular/angular.js/issues/5025#issuecomment-38895391
                        //placeholder="{{::model.placeholders.obsInternal}}")
            .row
                .col-xs-12
                    label(for="obs") {{::model.labels.obs}}
                        textarea(rows="3", name="obs", tabindex="2900", split-array-text="\n", ng-model="model.book.obs", aria-label="{{::model.placeholders.obs}}",
                        ng-attr-placeholder="{{::model.placeholders.obs}}")
                        //use ng-attr.placeholder... because of error in IE https://github.com/angular/angular.js/issues/5025#issuecomment-38895391
                        //placeholder="{{::model.placeholders.obs}}")
    .row.caixa
        .col-xs-12.col-lg-4
            .row
                .col-xs-12
                    label(for="prefaceBy") {{::model.labels.prefaceBy}}
                        angular-typeaheadjs(
                            angty-onchange="model.autocompleteEvents.onchange",
                            angty-onactive="model.autocompleteEvents.onactive",
                            angty-onbeforeopen="model.autocompleteEvents.onbeforeopen",
                            angty-options="{{model.config.author.options}}", angty-ttoptions="{{model.config.author.ttoptions}}")
                            input.typeahead(type="text", tabindex="3000", name="prefaceBy", ng-model="model.book.preface", aria-label="{{::model.placeholders.prefaceBy}}", placeholder="{{::model.placeholders.prefaceBy}}")
            .row
                .col-xs-12
                    label.label-items
                        span.item(ng-repeat="item in model.book.prefaceBy track by $index")
                            i.fa.fa-times(ng-click="model.removeItem('prefaceBy', item)")
                            | {{item}}
        .col-xs-12.col-lg-4
            .row
                .col-xs-12
                    label(for="postfaceBy") {{::model.labels.postfaceBy}}
                        angular-typeaheadjs(
                            angty-onchange="model.autocompleteEvents.onchange",
                            angty-onactive="model.autocompleteEvents.onactive",
                            angty-onbeforeopen="model.autocompleteEvents.onbeforeopen",
                            angty-options="{{model.config.author.options}}", angty-ttoptions="{{model.config.author.ttoptions}}")
                            input.typeahead(type="text", tabindex="3100", name="postfaceBy", ng-model="model.book.postface", aria-label="{{::model.placeholders.postfaceBy}}", placeholder="{{::model.placeholders.postfaceBy}}")
            .row
                .col-xs-12
                    label.label-items
                        span.item(ng-repeat="item in model.book.postfaceBy track by $index")
                            i.fa.fa-times(ng-click="model.removeItem('postfaceBy', item)")
                            | {{item}}
        .col-xs-12.col-lg-4
            .row
                .col-xs-12
                    label(for="correctors") {{::model.labels.correctors}}
                        angular-typeaheadjs(
                            angty-onchange="model.autocompleteEvents.onchange",
                            angty-onactive="model.autocompleteEvents.onactive",
                            angty-onbeforeopen="model.autocompleteEvents.onbeforeopen",
                            angty-options="{{model.config.author.options}}", angty-ttoptions="{{model.config.author.ttoptions}}")
                            input.typeahead(type="text", tabindex="3200", name="correctors", ng-model="model.book.corrector", aria-label="{{::model.placeholders.correctors}}", placeholder="{{::model.placeholders.correctors}}")
            .row
                .col-xs-12
                    label.label-items
                        span.item(ng-repeat="item in model.book.correctors track by $index")
                            i.fa.fa-times(ng-click="model.removeItem('correctors', item)")
                            | {{item}}

    .row.caixa
        .col-xs-12.col-lg-3
            label(for="condition") {{::model.labels.condition}}
                input(type="text", tabindex="3300", name="condition", ng-model="model.book.condition",
                    aria-label="{{::model.placeholders.condition}}", placeholder="{{::model.placeholders.condition}}")
        .col-xs-12.col-lg-3
            label(for="graphicalPrint") {{::model.labels.graphicalPrint}}
                input(type="text", tabindex="3400", name="graphicalPrint", ng-model="model.book.graphicalPrint",
                aria-label="{{::model.placeholders.graphicalPrint}}", placeholder="{{::model.placeholders.graphicalPrint}}")
        .col-xs-12.col-lg-3
            label(for="workmanship") {{::model.labels.workmanship}}
                input(type="text", tabindex="3500", name="workmanship", ng-model="model.book.workmanship",
                aria-label="{{::model.placeholders.workmanship}}", placeholder="{{::model.placeholders.workmanship}}")
        .col-xs-12.col-lg-3
            label(for="cover") {{::model.labels.cover}}
                input(type="text", tabindex="3600", name="cover", ng-model="model.book.cover",
                aria-label="{{::model.placeholders.cover}}", placeholder="{{::model.placeholders.cover}}")
    .row.caixa
        .col-xs-12.col-lg-2
            label(for="dimensions") {{::model.labels.dimensions}}
                input(type="text", tabindex="3700", name="dimensions", ng-model="model.book.dimensions",
                aria-label="{{::model.placeholders.dimensions}}", placeholder="{{::model.placeholders.dimensions}}")
        .col-xs-12.col-lg-2
            label(for="weight") {{::model.labels.weight}}
                input(type="text", tabindex="3800", name="weight", ng-model="model.book.weight",
                aria-label="{{::model.placeholders.weight}}", placeholder="{{::model.placeholders.weight}}")
        .col-xs-12.col-lg-2
            label(for="buyAt") {{::model.labels.buyAt}}
                input(type="text", tabindex="3900", name="buyAt", ng-model="model.book.buyAt",
                aria-label="{{::model.placeholders.buyAt}}", placeholder="{{::model.placeholders.buyAt}}")
        .col-xs-12.col-lg-2
            label(for="archive") {{::model.labels.archive}}
                input(type="text", tabindex="4000", name="archive", ng-model="model.book.archive",
                aria-label="{{::model.placeholders.archive}}", placeholder="{{::model.placeholders.archive}}")
        .col-xs-12.col-lg-4
            label(for="lendingTo") {{::model.labels.lendingTo}}
                input(type="text", tabindex="4100", name="lendingTo", ng-model="model.book.lendingTo",
                aria-label="{{::model.placeholders.lendingTo}}", placeholder="{{::model.placeholders.lendingTo}}")
    .row.caixa
        .col-xs-12
            .row
                label.headercaixa 1ª Edição no país da edição
            .row
                .col-xs-12.col-lg-3
                    label(for="editionCountryFirstPublisher") {{::model.labels.editionCountryFirstPublisher}}
                        angular-typeaheadjs(
                        angty-onchange="model.autocompleteEvents.onchange",
                        angty-onactive="model.autocompleteEvents.onactive",
                        angty-onbeforeopen="model.autocompleteEvents.onbeforeopen",
                        angty-options="{{model.config.publisher.options}}", angty-ttoptions="{{model.config.publisher.ttoptions}}")
                            input.typeahead(type="text", tabindex="4110", name="editionCountryFirstPublisher", ng-model="model.book.editionCountryFirstPublisher", aria-label="{{::model.placeholders.editionCountryFirstPublisher}}", placeholder="{{::model.placeholders.editionCountryFirstPublisher}}")
                .col-xs-12.col-lg-2
                    label(for="editionYearCountryFirstEdition") {{::model.labels.editionYearCountryFirstEdition}}
                        input(type="number", tabindex="4120", min="1500", max="{{model.anoActual}}", maxlength="4", name="editionYearCountryFirstEdition", ng-model="model.book.editionYearCountryFirstEdition", aria-label="{{::model.placeholders.editionYearCountryFirstEdition}}", placeholder="{{::model.placeholders.editionYearCountryFirstEdition}}")
                        div.tool-tip.bottom(ng-show="bookrecordForm.editionYearCountryFirstEdition.$dirty && bookrecordForm.editionYearCountryFirstEdition.$invalid") {{::model.valMessages.editionYearCountryFirstEdition.invalid}}

//pre {{model.book | json}}
//pre {{ bookrecordForm | json }}
//
////pre {{::model.bookconfig | json}}


