form.enter-as-tab.on-focus(ng-show="model.book.reference",id="bookrecordStoreForm", logic-form="bookrecord", name="bookrecordStoreForm", novalidate, ng-model-options="{ debounce: 0 }")
    .row
        .col-sm-12.padding20

            label(for="dateResgistration") {{::model.labels.dateResgistration}}
                input(value="{{::model.book.dateResgistrationLocal | date:'dd MMMM yyyy H:mm'}}", disabled)

            label(for="dateUpdate") {{::model.labels.dateUpdate}}
                //input(value="{{::model.book.datau | date:'dd-M-yyyy H:mm'}}", disabled)
                input(value="{{::model.book.dateUpdateLocal | date:'dd MMMM yyyy H:mm'}}", disabled)

            label(for="price") {{::model.labels.price}}
                input(type="number", lang="pt-PT", step="0.01", tabindex="7500", name="price",
                    min="0",
                    ng-model="model.book.price",
                    aria-label="{{::model.placeholders.price}}",
                    placeholder="{{::model.placeholders.price}}")
                div.tool-tip.bottom(ng-show="bookrecordStoreForm.price.$dirty && bookrecordStoreForm.price.$invalid") {{::model.valMessages.price.invalid}}

            label(for="priceInitial") {{::model.labels.priceInitial}}
                input(type="number",lang="pt-PT", step="0.01", tabindex="7600", name="priceInitial",
                    min="0",
                    ng-model="model.book.priceInitial",
                    aria-label="{{::model.placeholders.priceInitial}}",
                    placeholder="{{::model.placeholders.priceInitial}}")
                div.tool-tip.bottom(ng-show="bookrecordStoreForm.priceInitial.$dirty && bookrecordStoreForm.priceInitial.$invalid") {{::model.valMessages.priceInitial.invalid}}

            label(for="priceCost") {{::model.labels.priceCost}}
                input(type="number",lang="pt-PT", step="0.01", tabindex="7700", name="priceCost",
                    min="0",
                    ng-model="model.book.priceCost",
                    aria-label="{{::model.placeholders.priceCost}}",
                    placeholder="{{::model.placeholders.priceCost}}")
                div.tool-tip.bottom(ng-show="bookrecordStoreForm.priceCost.$dirty && bookrecordStoreForm.priceCost.$invalid") {{::model.valMessages.priceCost.invalid}}

            label(for="qt") {{::model.labels.qt}}
                input(type="number",lang="pt", step="1", tabindex="7800", name="qt",
                    min="0",
                    ng-model="model.book.qt",
                    aria-label="{{::model.placeholders.qt}}",
                    placeholder="{{::model.placeholders.qt}}")
                div.tool-tip.bottom(ng-show="bookrecordStoreForm.qt.$dirty && bookrecordStoreForm.qt.$invalid") {{::model.valMessages.qt.invalid}}

            //label(for="qtSold") {{::model.labels.qtSold}}
            //    input(type="number",lang="pt", step="1", tabindex="7900", name="qtSold",
            //        min="0",
            //        ng-model="model.book.qtSold",
            //        aria-label="{{::model.placeholders.qtSold}}",
            //        placeholder="{{::model.placeholders.qtSold}}")
            //    div.tool-tip.bottom(ng-show="bookrecordStoreForm.qtSold.$dirty && bookrecordStoreForm.qtSold.$invalid") {{::model.valMessages.qtSold.invalid}}
            //label(for="qtStore") {{::model.labels.qtStore}}
            //    input(type="number",lang="pt", step="1", tabindex="8000", name="qtStore",
            //        min="0",
            //        ng-model="model.book.qtStore",
            //        aria-label="{{::model.placeholders.qtStore}}",
            //        placeholder="{{::model.placeholders.qtStore}}")
            //    div.tool-tip.bottom(ng-show="bookrecordStoreForm.qtStore.$dirty && bookrecordStoreForm.qtStore.$invalid") {{::model.valMessages.qtStore.invalid}}

            input(type="checkbox", tabindex="8100", id="sellOnline", name="sellOnline",
                ng-model="model.book.sellOnline",
                aria-label="{{::model.placeholders.sellOnline}}",
                placeholder="{{::model.placeholders.sellOnline}}")
            label(for="sellOnline") {{::model.labels.sellOnline}}

            input(type="checkbox", tabindex="8200", id="sellPresencial", name="sellPresencial",
                ng-model="model.book.sellPresencial",
                aria-label="{{::model.placeholders.sellPresencial}}",
                placeholder="{{::model.placeholders.sellPresencial}}")
            label(for="sellPresencial") {{::model.labels.sellPresencial}}

            input(type="checkbox", tabindex="8300", id="isNewBook", name="isNewBook",
                ng-model="model.book.isNewBook",
                aria-label="{{::model.placeholders.isNewBook}}",
                placeholder="{{::model.placeholders.isNewBook}}")
            label(for="isNewBook") {{::model.labels.isNewBook}}

            input(type="checkbox", tabindex="8400", id="isFeatured", name="isFeatured",
                ng-model="model.book.isFeatured",
                aria-label="{{::model.placeholders.isFeatured}}",
                placeholder="{{::model.placeholders.isFeatured}}")
            label(for="isFeatured") {{::model.labels.isFeatured}}

            input(type="checkbox", tabindex="8500", id="isPromotion", name="isPromotion",
                ng-model="model.book.isPromotion",
                aria-label="{{::model.placeholders.isPromotion}}",
                placeholder="{{::model.placeholders.isPromotion}}")
            label(for="isPromotion") {{::model.labels.isPromotion}}

            input(type="checkbox", tabindex="8600", id="isRare", name="isRare",
                ng-model="model.book.isRare",
                aria-label="{{::model.placeholders.isRare}}",
                placeholder="{{::model.placeholders.isRare}}")
            label(for="isRare") {{::model.labels.isRare}}

            input(type="checkbox", tabindex="8700", id="isUnique", name="isUnique",
                ng-model="model.book.isUnique",
                aria-label="{{::model.placeholders.isUnique}}",
                placeholder="{{::model.placeholders.isUnique}}")
            label(for="isUnique") {{::model.labels.isUnique}}

            input(type="checkbox", tabindex="8800", id="isValuable", name="isValuable",
                ng-model="model.book.isValuable",
                aria-label="{{::model.placeholders.isValuable}}",
                placeholder="{{::model.placeholders.isValuable}}")
            label(for="isValuable") {{::model.labels.isValuable}}


//pre {{!!model.book._id | json}}
//pre {{!!model.book._id | json}}
//pre {{model.bookrecordLogicForm.$pristine() | json}}
//
//pre {{model.book | json}}
//pre {{ bookrecordStoreForm | json }}
